$black: #111;
$white: #fff;
$muted: #888;
$blue: #0067FF;

$input-border: #bbb;

$primary-bg: desaturate(#CB3AFF, 60%);
$secondary-bg: lighten(#CB3AFF, 10%);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background: #f8f8f8;
    color: $black;
    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}

a {
    color: $black;
    text-decoration: none;
    border-bottom: 1px dotted #aaa;
}

pre {
    margin: 0 !important;
    font-size: 11px !important;
    background: none !important;
}

input, textarea, .CodeMirror {
    padding: 5px;
    border: 1px solid $input-border;
    border-top: 1px solid darken($input-border, 10%);
    //width: 100%;

    box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

select {
    background: $white;
    color: $black;
    padding: 4px 10px;
    border: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

button, input[type=button], input[type=submit], .btn {
    background: $primary-bg;
    color: $white;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;

    &.active, &:hover {
        background: darken($primary-bg, 20%);
        cursor: pointer;
    }
}

.btn--new {
    margin: 10px;
    display: inline-block;
}

.CodeMirror {
    min-width: 360px;
    cursor: text;
}

table {
    border-collapse: collapse;

    width: 100%;

    thead {
        background: $black;
        color: $white;

        td {
            font-weight: bold;
            border-right: 1px solid #222;
            text-transform: uppercase;
        }
    }

    td {
        padding: 10px 10px;
        border-right: 1px solid #ccc;

        &:last-child {
            border-right: none;
        }
    }

    tr {
        border-bottom: 1px solid #eee;
    }
}

#app {
    display: flex;
    flex-direction: column;

    width: 90%;
    margin: 0 auto;
}

header {
    background: $black;
    color: $white;

    height: 60px;
    line-height: 60px;
    padding: 0 20px;

    font-size: 32px;
}

footer {
    text-align: right;
    font-size: 10px;
    margin: 0 20px;

    a {
        color: $muted;
    }
}

main {
    flex: 1;
    min-height: 80vh;
}

nav {
    display: flex;
    border-right: 1px solid darken($primary-bg, 30%);

    margin: 0;
    padding: 0;

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            display: block;
            margin: 0;
            border-bottom: 1px solid darken($primary-bg, 20%);

            a {
                display: block;
                padding: 20px;
                width: 100%;
                margin: 0;

                color: $white;
                border-bottom: none;

                font-weight: bold;
                text-align: right;
                text-transform: uppercase;

                &.active, &:hover {
                    background: darken($primary-bg, 20%);
                }
            }
        }
    }
}

#wrapper {
    display: flex;
    flex: 1;

    background: $white;
    margin-bottom: 20px;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

#nav-primary {
    flex: 0 0 120px;
    background: $primary-bg;

    > ul > li > a {
        width: 120px;
    }
}

#nav-secondary {
    flex: 0 0 320px;
    background: $secondary-bg;

    > ul > li > a {
        width: 320px;
    }
}

.popup {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 400px;
    min-height: calc(100vh - 20px);
    margin: 0;
    margin-left: -200px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 20px 10px rgba(0, 0, 0, 0.1);

    .popup__title {
        font-size: 12px;
        text-transform: uppercase;
        padding: 8px 14px;
        border-radius: 5px 5px 0 0;
        background: $primary-bg;
        color: $white;
        width: 100%;
        height: 31px;
    }

    .popup__close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 8px 14px;
        color: $white;
        font-weight: bold;
    }

    .popup__content {
        padding: 10px 20px;
    }
}

.fieldset {
}

.field {
    list-style: none;
    margin-bottom: 10px;
}

.field__label {
    font-weight: bold;
    margin-bottom: 4px;
}

.field__control {
    max-width: 400px;
}
